{
  "notify_before_days": 30,
  "verify_ssl": false,
  "email": {
    "enabled": true,
    "smtp_server": "127.0.0.1",
    "smtp_port": 25,
    "smtp_user": "",
    "smtp_password": "",
    "smtp_from": "cert-check@test1.sample.com",
    "smtp_auth": false,
    "use_starttls": false,
    "to": ["user@test1.sample.com"]
  },
  "slack": {
    "enabled": false,
    "webhook_url": ""
  }
}
